<ion-view view-title="Receipts">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="receipt in receipts" type="item-text-wrap" href="#/tab/entries/{{receipt.id}}">
        <img ng-src="{{receipt.face}}">
        <h2>{{receipt.name}}</h2>
        <p>{{receipt.lastText}}</p>
        <p>{{text}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(receipt)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
